@model CreateInvestmentModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>InvestmentDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                @Html.DropDownListFor(model => model.ClientId, (IEnumerable<SelectListItem>)ViewData["ClientList"], "[Select Client]", new { @class = "form-control" })
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                @Html.DropDownListFor(model => model.CompanyId, (IEnumerable<SelectListItem>)ViewData["CompanyList"], "[Select Company]", new { @id = "ddlCompany", @class = "form-control", onchange = "return get_price(this)" })    
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                @Html.DropDownListFor(model => model.Cost, (IEnumerable<SelectListItem>)ViewData["CompanyPrice"], "", new { @id = "ddlPrice", @class = "form-control", @disabled = "disabled", style = "display:none;" })<br />
                @Html.TextBoxFor(Model => Model.Cost, new { id = "txtCost" })
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shares" class="control-label"></label>
                <input asp-for="Shares" class="form-control" />
                <span asp-validation-for="Shares" class="text-danger"></span>
            </div>
            <div>
                <br />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <br />
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        function get_price() {
            var selected_val = $('#ddlCompany').find(":selected").attr('value');
            // Select the option by value
            $("#ddlPrice").val(selected_val);
            // Get the text of the selected option
            var selectedText = $("#ddlPrice option:selected").text();
            $("#txtCost").val(selectedText);
        }
    </script>

}
